/**
*-------------------------------------------------------------------------------------------------------------------
* Base Styles
*-------------------------------------------------------------------------------------------------------------------
*/

body {
	-webkit-font-smoothing: antialiased;
}

a:hover {
	color: #000;
}

p {
	margin-bottom: $baseline;

	a {
		text-decoration: none;
	}


}

blockquote {
	margin: 0;
	font-style: italic;

	cite {
		font-size: .75rem;
		font-style: normal;

		&:before {
			content: "- ";
		}
	}
}

ul {
	padding: 0;
	list-style-type: none;
}





