/**
*-------------------------------------------------------------------------------------------------------------------
* Button Styles
*-------------------------------------------------------------------------------------------------------------------
*/

.mobile-button, 
.mobile-button:hover, 
.mobile-button:focus, 
.mobile-button:active, 
.mobile-button:visited {

	border: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	display: inline;
	outline: none;

	margin: 10px 0 10px;

	@include lg-desktop {
		display: none;
		visibility: hidden;
	}
}


.menu-toggle {
	border: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	padding: 0;
	float: left;
	display: inline;

	@include lg-desktop {
		display: none;
		visibility: hidden;
	}
}


.menu-icon {
    width: 25px;
    height: 3px;
    background: #000;
    margin-top: 3px;
}

.mobile-filter,
.mobile-filter:hover,
 {
	text-shadow: none;
	color: $white;
	font-size: 16px;
	border: 2px solid #000;
}

